.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.event-container {
  background-color: #64748b;
  width: 70vw;
  height: auto;
  min-height: 100vh;
  padding: 30px;
  text-align: center;
}

.event-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto';
}

.event-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
