.list-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.event-item {
  width: 300px;
  margin: 5px;
  list-style: none;
}

.event-image {
  width: 100%;
}

.event-image-with-border {
  width: 100%;
  border: solid 3px #2dd4bf;
  border-radius: 5px;
}

.event-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}

.event-location {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}
